<!-- <img src="https://www.live-score-app.com/img/sports/cricket/scoreboard-2.png"> -->
<div class="container mt-5">
  <div class="card" style="height: 400px;">
    <div class="card-header">
      <div class="text-center fs-4 text-primary"><b> LIVE STREAMING</b></div>
    </div>
    <div class="card-body">

       <div class="text-center fs-1"><b>{{ RUN }}</b> <br>  <button class="btn btn-success" (click)="callRandomRuns()">Ckick Me</button></div>
    </div>
  </div>
</div>

<div class="BG rounded-5">
  <div class="row">
    <div class="col-md-4 text-start">
      <!-- * START -->
      <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center" style="height: 100px;">   <img src="{{LIVE.batting.url1}}" class="rounded-1" alt="..." height="45" width="60" > </div>
        <div class="col-md-6 ">
          <div class="row  d-flex justify-content-start align-items-center" style="height: 50px;"> <div> <input type="radio" name="strike" [checked]="NotOutPlayers.index_0.strike"> &nbsp; {{NotOutPlayers.index_0.name }} </div>  </div>
          <div class="row d-flex justify-content-start align-items-center" style="height: 50px;"><div> <input type="radio" name="strike"  [checked]="NotOutPlayers.index_1.strike"> &nbsp; {{NotOutPlayers.index_1.name }}  </div></div>
        </div>
        <div class="col-md-3 ">
          <div class="row  d-flex justify-content-start align-items-center fs-4" style="height: 50px;">  <b>{{NotOutPlayers.index_0.run }} ({{NotOutPlayers.index_0.ball }})</b> </div>
          <div class="row d-flex justify-content-start align-items-center fs-4" style="height: 50px;"> <b>{{NotOutPlayers.index_1.run }} ({{NotOutPlayers.index_1.ball }})</b>  </div>
        </div>
      </div>
      <!-- *START -->
    </div>
    <div class="col-md-4 text-center " >
      <!-- *Middlde -->
      <div class="border rounded-5 text-white" style="height: 80px;" >
         <div class="row text-center rounded-top-5 TOP" style="height: 40px;">
           <!-- ^ TOP -->
           <div class="text-center"> <b>{{LIVE.bowling.bowlTeam.substring(0,3) | uppercase}}</b> Vs <b class="fs-3">{{LIVE.batting.batTeam.substring(0,3) | uppercase}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="fs-3">{{LIVE.TOTAL_RUNS}}/{{LIVE.TOTAL_WICKETS}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Over : {{LIVE.currentOver}}.{{BALL-1}} &nbsp;&nbsp;&nbsp;({{LIVE.overChiMatch}})</div>
            <!-- ^ TOP -->
        </div>
         <div class="row text-center rounded-bottom-5 BOTTOM" style="height: 40px;">
     <!-- ^ BOTTOM -->
     <div class="text-center pt-2"> RUN RATE &nbsp; <b>4.00</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( WD- {{LIVE.wide}} &nbsp;&nbsp;&nbsp; NB- {{LIVE.No_Ball}} )</div>
     <!-- ^ BOTTOM -->
        </div>
      </div>
      <!-- *Middle -->
    </div>
    <div class="col-md-4">
      <!-- *END -->
      <div class="row">
        <div class="col-9">
          <div class="row  d-flex justify-content-start align-items-center ms-1" style="height: 50px;">
            <div class="row">
             <div class="col-6"> {{currentBowler.name}}</div>
             <div class="col-6 text-end">{{currentBowler.over}}.{{BALL-1}}</div>
            </div>
           </div>
           <div class="row d-flex justify-content-start align-items-center" style="height: 50px;">
             <div>
               <button class="btn btn-primary btn-sm ms-1"  *ngFor="let obj of OVER_CHA_ARRAY">{{obj}}</button>
             </div>
           </div>
        </div>
        <div class="col-3 ">
          <div class="d-flex justify-content-center align-items-center" style="height: 100px;">   <img src="{{LIVE.bowling.url2}}" class="rounded-1" alt="..." height="45" width="60" > </div>
        </div>
      </div>

      <!-- *END -->
    </div>
  </div>
</div>

<!--  -->
